<h4>Añadir tarea</h4>
<form (submit)="addHero()" >
  <label for="iden">ID</label>
  <input id="iden" type="number" [(ngModel)]="hero.id"
         [ngModelOptions]="{standalone: true}"/>
  <label for="name">Nombre</label>
  <input id="name" type="text" [(ngModel)]="hero.name"
         [ngModelOptions]="{standalone: true}"/>
  <input type="submit" value="Enviar"/>
</form>
<h4>Value Hero: {{hero | json}}</h4>
<h4>Value Heroes: {{heroes | json}}</h4>


<h3>Listado de heroes</h3>
<ul>
  <li *ngFor="let h of heroes">
    {{h.name}} <button (click)="borraHeroe(h)">Borrar</button>
  </li>
</ul>
