<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
    <li [hidden]="oculta" (click)="cambia()" >Ejemplos
      <ul >
        <li><a routerLink="/formularios" >Ejemplos de Formularios</a></li>
        <li><a routerLink="/servicios" >Ejemplos de Uso de Servicios</a></li>
        <li><a routerLink="/componentes" >Ejemplos de Componentes</a></li>
        <li><a routerLink="/eventos" >Ejemplos de Eventos</a></li>
        <li><a routerLink="/reactivos" >Ejemplos de Formularios Reactivos</a></li>
        <li><a routerLink="/crud" >Ejemplo de CRUD</a></li>
        <li><a routerLink="/marvel" >Marvel</a></li>
      </ul>
    </li>
    <li><a routerLink="/about" >About</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>


